.add-button {
    position: fixed;
    right: 3vw;
    bottom: 7vh;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 128, 0, 0.604);
    color: white;
    font-size: 3rem;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.453);
    cursor: pointer;
    transition: transform 1s;
}

.add-button:hover {
    transform: rotate(180deg);
}